// COLORS
$color-greyish: #aaa;
$color-black: #333;
$color-black-two: #000;
$color-greyish-brown: #555;
$color-grey-border: #888;
$color-grey-input: #6a6a6a;
$color-white-input: #fff;
$color-white: #f7f7f7;
$color-warm-grey: #999;
$color-blue: #4894d4;

// breakpoints
$desktop: 450px;

// font-family
$font-family: 'Helvetica Neue', sans-serif;
